<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board-mapper">
	<update id="replyUpdate">
		update reply set reply_content = #{reply_content} where reply_id =
		#{reply_id}
	</update>

	<delete id="replyDelete">
		delete from reply where reply_id = #{reply_id}
	</delete>

	<insert id="replyInsert">
		insert into reply(board_id, user_id, reply_content)
		values(#{board_id}, #{user_id}, #{reply_content})
	</insert>

	<select id="replyList" resultType="board.ReplyVO">
		select reply_content, to_char(reply_date, 'yyyy-MM-dd') reply_date,
		board_id, reply_id, user_id,
		(select car_nickname from car_info where user_id = reply.user_id ) car_nickname
		from reply
		where board_id = #{board_id}
		order by reply_id desc
	</select>


	<delete id="delete">
		delete from board where board_id = #{board_id}
	</delete>

	<update id="update">
		update board
		set board_title = #{board_title},
		board_content = #{board_content},
		mfilepath = #{mfilepath, jdbcType=VARCHAR},
		filename = #{filename,
		jdbcType=VARCHAR},
		filepath = #{filepath, jdbcType=VARCHAR}
		where
		board_id = #{board_id}
	</update>

	<insert id="insert">
		insert into board (user_id, board_title, board_content, mfilepath,
		filename,filepath)
		values ( #{user_id}, #{board_title}, #{board_content}, #{mfilepath,
		jdbcType=VARCHAR}, #{filename, jdbcType=VARCHAR},#{filepath,
		jdbcType=VARCHAR})
	</insert>

	<update id="read">
		update board set readcnt = readcnt +1 where board_id=#{board_id}
	</update>

	<select id="detail" resultType="board.BoardVO">

		select b.*,(select m.user_name from member m where m.user_id=b.user_id) user_name from board b where board_id=#{board_id}

	</select>
	<select id="total" resultType="integer">
		select count(*) from board
		<include refid="search" />
	</select>

	<select id="list" resultType="board.BoardVO">

		<!-- select * from board -->
		select n.*,(select count(*)from sympathy s where s.board_id =
		n.board_id) sympathy,(select m.user_name from member m where m.user_id=n.user_id) user_name
		from (select n.*, rownum no from (select * from board
		<include refid="search" />
		order by board_id) n
		order by no desc) n
		where no between #{beginList} and #{endList}
	</select>
	<sql id="search">
		<if test="search=='all'">
			where board_title like '%'||#{keyword}||'%'
			or user_id like '%'||#{keyword}||'%'
			or board_content like '%'||#{keyword}||'%'
		</if>
		<if
			test="search=='user_id' or search=='board_title' or search=='board_content'">
			where ${search} like '%'||#{keyword}||'%'
		</if>
	</sql>


	<select id="sympathy" resultType="String">
		select sympathy from sympathy where user_id=#{user_id} and board_id=#{board_id}
	</select>
	
	
	<insert id="syminsert">
	insert into sympathy(sympathy,user_id,board_id)
        values ('y',#{user_id},#{board_id})
	</insert>
	<delete id="symdelete">
	delete from sympathy where board_id=#{board_id} and user_id=#{user_id}
	</delete>	

</mapper>